<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AudiobookPlaylistIDs</key>
	<array/>
	<key>AudiobookTrackIDs</key>
	<array/>
	<key>BookTrackIDs</key>
	<array/>
	<key>DevicesVersion</key>
	<string>1.4.4</string>
	<key>LibraryBookTrackIDs</key>
	<array/>
	<key>MoviePlaylistIDs</key>
	<array/>
	<key>MovieTrackIDs</key>
	<array/>
	<key>MusicAlbumIDs</key>
	<array/>
	<key>MusicArtistIDs</key>
	<array/>
	<key>MusicGenreIDs</key>
	<array/>
	<key>MusicPlaylistIDs</key>
	<array/>
	<key>MusicTrackIDs</key>
	<array/>
	<key>PodcastChannelIDs</key>
	<array/>
	<key>PodcastPlaylistIDs</key>
	<array/>
	<key>PodcastTrackIDs</key>
	<array/>
	<key>TVShowAlbumIDs</key>
	<array/>
	<key>TVShowPlaylistIDs</key>
	<array/>
	<key>TVShowSeriesIDs</key>
	<array/>
	<key>TVShowTrackIDs</key>
	<array/>
	<key>iPodPrefs</key>
	<data>
	ZnJwZAEAGQABAAABAAAAAAAAAABWaw+mLGrh4wAAAAAAAAABAAAAAAAAAAAAAAAAAQAA
	AAACAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQEAAAAAAAAAAAAAAAABAAQAAAAAAAAAAAAA
	AAACAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AgAAAAEBAAAAAAAAAAAAAAEAAQAAAQEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAFIGtpkJOMvFx7a4rN/BkNpFSjAvAAAAAAAAAAAAAAAAAAAAAP8AAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAADwAAAAAAAQABAAAAAAEBgAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQ2hyaXN0aWFuIFBldGVyAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFJCRVBDLUNQAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAQ2hyaXN0aWFuIFBldGVyAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFJCRVBDLUNQAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAA=
	</data>
</dict>
</plist>
