<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DBTimestampMasOSDate</key>
	<integer>3803892263</integer>
	<key>tracks</key>
	<array/>
	<key>version</key>
	<integer>0</integer>
</dict>
</plist>
